/* VERSI DIBAWAH DESKTOP */
/* Ukuran Layar < 992 pixel */
.navbar {
	position: relative;
	z-index: 1;
}

.navbar-brand {
	text-transform: uppercase;
	font-size: 12px;
}

.col .brand {
	margin-left: -10px;
}

.nav-link {
	font-family: Raleway;
	font-size: 12px;
	margin-right: 15px;
}

.tombol {
	font-family: Raleway;
	color: white !important;
	font-size: 12px;
	border-radius: 40px;
}

.jumbotron {
	background-image: url('homepage.jpg');
	background-size: cover;
	height: 510px;
	position: relative;
}

.jumbotron .container {
	z-index: 1;
	position: relative;
}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4 {
	color: white;
	font-family: Satisfy;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 40px;
	margin-top: 160px;
}

.jumbotron .lead {
	color: white;
	font-family: Caveat;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	content: '';
	display: block;
	border-top: 1px solid white;
	padding-top: 3px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	
}

img {
	height: 60px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 3px;
}


/* VERSI DESKTOP */
/* Ukuran Layar > 992 pixel */
@media (min-width: 992px) {
	img {
		height: 70px;
	}

	.navbar-brand {
		color: white !important;
		font-family: Raleway;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		font-size: 15px;
	}

	.nav-link {
		color: white !important;
		font-size: 13px;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 2px solid lightgreen;
		width: 50%;
		padding-bottom: 3px;
		margin: auto;
		margin-bottom: -6px;
	}

	.jumbotron {
		height: 640px;
		margin-top: -100px;
	}

	.jumbotron .display-4 {
		font-size: 65px;
		text-align: left;
		margin-top: 180px;
	}

	.jumbotron .lead {
		font-size: 25px;
		text-align: left;
		width: 50%;
	}

	.tombol {
		text-transform: uppercase;
	}
}
